{% load i18n %}

{% for entry in entries %}
{% if forloop.counter == 1 %}
<h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a></h2>
<div>
	{% if entry.image %}<a class="index-img" href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark"><img src="{{ entry.image.url }}" /></a>{% endif %}
	{{ entry.content|removetags:"img table thead tbody tr th td br"|truncatewords_html:100|safe }}
</div>
<h2><a href="/blog/">Другие записи в блоге</a></h2>
<ul>
{% else %}
	<li>
		<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a> ({{ entry.creation_date|date:"j E" }})
	</li>
{% endif %}
{% empty %}
<ul>
	<li>
	{% trans "No entries yet." %}
	</li>
{% endfor %}
</ul>
