{% load menu_extras %}
<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="ru" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% block title %}{% if title %}{{ title }} — {% endif %}Викимедиа РУ{% endblock %}</title>
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/wmru-logo.png" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

	<!--[if gte IE 7]><!-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	<!--<![endif]-->

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5-els.js"></script>
	<![endif]-->

	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie7.css" />
	<![endif]-->

	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
	<![endif]-->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<nav>
	{% menu_list %}
	</nav>
	<div id="wrap">
		<article>
		{% block content %}
			Empty!
		{% endblock %}
		</article>
	</div>
	<footer>
		Текстовое содержимое доступно в соответствии с <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License</a> или <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution/Share-Alike</a>.
	</footer>
</body>
</html>
