{% load tree_menu_tags %}
<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="ru" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% block title %}{% if title %}{{ title }} — {% endif %}Викимедиа РУ{% endblock %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

	<!--[if gte IE 7]><!-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	<!--<![endif]-->

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5-els.js"></script>
	<![endif]-->

	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie7.css" />
	<![endif]-->

	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
	<![endif]-->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<nav>
		{% show_menu "Sidebar" %}
		<div class="social">
			<a href="//vk.com/wikimedia"><img src="{{ STATIC_URL }}social/vk.png" width="24" height="24" alt="VK" /></a>
			<a href="//www.facebook.com/WikimediaRU"><img src="{{ STATIC_URL }}social/facebook_2.png" width="24" height="24" alt="Facebook" /></a>
			<a href="//twitter.com/#!/Wikimedia_RU"><img src="{{ STATIC_URL }}social/twitter.png" width="24" height="24" alt="Twitter" /></a>
			<a href="/blog/feeds/latest/"><img src="{{ STATIC_URL }}social/rss.png" width="24" height="24" alt="RSS" /></a>
		</div>
	</nav>
	<div id="wrap">
		<article>
		{% block content %}
			Empty!
		{% endblock %}
		</article>
	</div>
	<footer>
		Содержимое доступно по лицензии <a href="//creativecommons.org/licenses/by/2.5/deed.ru">Creative Commons Attribution 2.5 Generic</a> и более поздних версий, если не указаны другие условия.
	</footer>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter16252759 = new Ya.Metrika({id:16252759, clickmap:true, trackLinks:true, webvisor:true});
        } catch(e) {}
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/16252759" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>
